html,body,h1,h2,h3,header,p,img,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/*CSS Reset*/

html{
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
}

section{
  width: 100%;
  position: relative;
}

//The body css

header{
  width: 100%;
  height: auto;
  top: 0;
  position: fixed;
  z-index: 999;
  -webkit-transition: all .64s ease .6s;
  transition: all .64s ease .6s;
  background: transparent;

  .logo{
    float: left;
    height: 54px;
    opacity: 0.80;
    margin: 1rem;
    padding-left: 2rem;
    vertical-align: middle;
    img{
      height: 32px;
    }
    span{
      margin-left: 1rem;
      display: inline-block;
      line-height: 54px;
      font-size: 2rem;
      color: #fff;
      font-family: 'Oxygen', sans-serif;
    }
  }

  .nav{
    margin: 1rem;
    float: right;
    padding-right: 2rem;
    ul{
      list-style: none;
    }
    li{
      position: relative;
      float: left;
      text-align: center;
      line-height: 54px;
      margin-left: 2rem;
      &::before{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        float: left;
        bottom: 0.5rem;
        margin-left: -100%;
        border-bottom: 2px solid #BD573F;
        -webkit-transition: all .64s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        transition: all .64s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }
    }

    a{
      bottom: 0;
      color: #fff;
      font-size: 1rem;
      padding-bottom: 4px;
    }
  }

}

.page1{
  background-image: url('../images/wall.png');
  background-size: cover;
  height: 100%;

  .container{
    height: 100%;
    padding-top: 20%;
    width: 54%;
    margin: 0 auto;
    text-align: center;
    h1{
      color: #fff;;
      margin-bottom: 1rem;
      font-size: 3.2rem;
      animation: slideup 1000ms 0ms forwards, fadein 1.5s forwards;
      opacity: 0;
    }

    span{
      display: inline-block;
      padding: 0.6rem 1.6rem;
      border: 2px solid #fff;
      background: transparent;
      border-radius: 2rem;
      font-size: 1.6rem;
      color: #fff;
      font-weight: 800;
      font-family: 'Oxygen', sans-serif;
      cursor: pointer;
      -webkit-transition: all .2s;
      transition: all .2s;
      &:hover{
        background-color: #BD573F;
        border-color: #BD573F;
      }
    }
  }
}

.page2{
  margin-top: 6%;
  .container {
    margin-top: 2rem;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .about {
    display: inline-block;
    width: 32%;
    height: 200px;
    p {
      width: 100%;
    }
  }
  .computer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #DDE3EB;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    img {
      position: absolute;
      width: 130px;
      height: 130px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .tech{
    width: 100%;
    text-align: center;
  }
  .techBox{
    margin: 2rem;
    width: 320px;
    max-height: 300px;
    border-radius: 20px;
    border: 2px solid #DDE3EB;
    display: inline-block;
    p{
      margin: 1rem;
    }
    img{
      height: 160px;
    }
  }
}

.page3{
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7e7bd3), to(#bc7bd3));
  background-image: -webkit-linear-gradient(314deg, #7e7bd3 0%, #bc7bd3 100%);
  background-image: linear-gradient(136deg, #7e7bd3 0%, #bc7bd3 100%);
  .nav {
    height: 100%;
    display: inline-block;
    text-align: center;
    .header {
      height: 100%;
      .class{
        color: white;
        font-size: 120px;
        display: inline-block;
        margin-right: 10px;
      }
      .numbers {
        padding: 40px 0 0 10px;
        border-left: 4px solid rgba(255, 255, 255, 0.4);
        display: inline-block;

        span {
          opacity: 0.5;
          color: white;
          font-size: 30px;
          left: 10px;
        }
      }
      &::before{
        content: '';
        height: 100%;
        width: 2rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .title{
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    h1{
      font-size: 2.2rem;
      color: #F9F9F8;
    }
  }
  .photo-board {
    margin-left: 4rem;
    position: absolute;
    height: 100%;
    max-width: 880px;
    display: inline-block;
    width: 100%;

    .content {
      margin-top: 2%;
      position: relative;

      .classes {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
        -webkit-transition: all .64s ease-in-out;
        transition: all .64s ease-in-out;
        position: absolute;
      }

      .focus {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 99;
      }

      .slider {
        width: 100%;
        position: absolute;
        bottom: 20%;

        .slider-board {
          width: 100%;
          height: 0;
          border-bottom: 2px solid rgba(255, 255, 255, 0.71);
          margin-top: 0.6rem;
        }

        .slider-suga {
          height: 1.2rem;
          width: 4rem;
          background-color: rgba(255, 255, 255, 0.54);
          border-radius: 4px;
          border: 1px solid #fff;
          position: absolute;
          bottom: -0.6rem;
          cursor: move;
          left: 5%;
          -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
      }
      .thumb {
        cursor: pointer;
        width: 180px;
        height: 120px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-bottom: 2rem;

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          -webkit-transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
          transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
        }

        figure {
          border-radius: 4px;
          padding-top: 5%;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
          -webkit-transition: all .5s ease;
          transition: all .5s ease;
        }

        p {
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.6);
          -webkit-transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
          transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
        }
        &:hover{
          p {
            font-size: 1.2rem;
            color: #3c3c3c;
          }
          figure {
            box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: white;
            -webkit-transform: translate(-50%, -50%) scale(1.3);
            transform: translate(-50%, -50%) scale(1.3);
          }
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

  }
}

.page4{
  width: 100%;
  padding: 2rem 0;
  background-color: #dde3eb;
  overflow: hidden;
  text-align: center;
  ul.cards{
    list-style: none;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    margin: 2rem auto;
    text-align: center;
    height: 270px;
    h1{
      font-weight: 300;
    }
    li.card {
      background: #FFF;
      overflow: hidden;
      height: 270px;
      width: 270px;
      position: absolute;
      left: 50%;
      margin-left: -135px;
      border-radius: 20px;
      display: inline-block;
      box-shadow: 1px 2px 2px 0 #aaa;
      -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
      transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
      img {
        max-width: 100%;
        height: auto;
      }
      &:nth-child(1){
        z-index: 10;
        -webkit-transform: rotateZ(-4deg);
        transform: rotateZ(-4deg);
      }
      &:nth-child(2) {
        z-index: 9;
        -webkit-transform: rotateZ(-12deg);
        transform: rotateZ(-12deg);
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        z-index: 8;
        -webkit-transform: rotateZ(8deg);
        transform: rotateZ(8deg);
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.4s;
      }
    }
  }
  ul.cards.transition li.card {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  ul.cards.transition li:nth-child(1) {
    margin-left: 270px;
  }

  .page4 ul.cards.transition li:nth-child(2) {
    left: 270px;
  }
}

.page5{
  width: 100%;
  height: 100%;
  background-color: #7b7b7b;
  .honorB{
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    right: 2rem;
    cursor: pointer;

    svg {
      position: absolute;
      top:50%;
      left: 50%;
      height: 15px;
      fill: #FFF;
      -webkit-transform: translate(-50%,-50%) rotate(-90deg);
      transform: translate(-50%,-50%) rotate(-90deg);
    }
  }
  .honorBox{
    top: 0;
    z-index: 9999;
    background-color: #f7f6f4;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 1500ms cubic-bezier(0.69, 0.005, 0, 1.005) 0ms;
    transition: all 1500ms cubic-bezier(0.69, 0.005, 0, 1.005) 0ms;

    .close{
      height: 40px;
      width: 40px;
      position: fixed;
      right: 65px;
      top: 65px;
      cursor: pointer;
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      &:hover{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      div {
        position: absolute;
        width: 40px;
        height: 3px;
        border-radius: 2px;
        background-color: #353535;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transition: all 350ms cubic-bezier(0.690, 0.005, 0.000, 1.005);
        transition: all 350ms cubic-bezier(0.690, 0.005, 0.000, 1.005);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
    .main{
      margin-top: 10%;
      position: relative;
      text-align: center;
    }
    .mainB{
      position: absolute;
      top: 0;
      left: 90%;
      vertical-align: middle;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      img{
        width: 160px;
      }
    }
    .title{
      position: relative;
      margin: 0 auto;
      padding: 0.8rem;
      border: 5px solid #353535;
      width: 15rem;
      text-align: center;
      h1{
        color: #353535;
        font-size: 3rem;
        font-weight: 700;
      }
    }
    .container{
      width: 720px;
      margin: 80px auto 0;

      .timeHonor{
        width: 100%;
        position: relative;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        margin-top: 3rem;
        h1{
          display: inline-block;
          font-weight: 900;
          color: #353535;
          float: left;
          vertical-align: top;
        }
        ul{
          list-style: none;
          text-align: left;
          margin-left: 3rem;
        }
        li{
          color: #3c3c3c;
          line-height: 2rem;
        }
      }
    }
  }
  .barOne{
    -webkit-transition-delay: 1.5s!important;
    transition-delay: 1.5s!important;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
    transform: translate(-50%, -50%) rotate(45deg) !important;
  }

  .barTwo{
    -webkit-transition-delay: 1.5s!important;
    transition-delay: 1.5s!important;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) !important;
    transform: translate(-50%, -50%) rotate(-45deg) !important;
  }
  .showBox{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    overflow-y: scroll;
  }
}


@keyframes slideup {
  0% {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes fadein {
  0%, 30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}


