html, body, h1, h2, h3, header, p, img, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*CSS Reset*/

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 500px) {
    overflow-x: hidden;
  }
}

.menu {
  float: right;
  margin-right: 2%;
  width: 36px;
  height: 64px;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  z-index: 999;
  position: absolute;
  span {
    width: 32px;
    height: 4px;
    background-color: #333333;
    display: block;
    margin-top: 3px;
  }
}

.js-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(-100%);
  z-index: 99;
  background-color: rgba(129, 255, 141, 0.82);
  display: flex;
  transition: all 1500ms cubic-bezier(0.69, 0.005, 0, 1.005) 0ms;
  ul {
    margin: auto;
    margin-left: 10%;
    list-style: none;
    li {
      margin-bottom: 3rem;
      transition: all .8s ease;
      a {
        background-color: #fff;
        padding: 10px 20px;
        font-size: 1.6rem;
        color: #222;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.show-nav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

header {
  height: 64px;
}

.main {
  width: 100%;
  z-index: 1;
  .container {
    margin: 0 auto;
    width: 1080px;
    height: auto;
    padding: 10px 0;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    .profile {
      height: 720px;
      width: 100%;
      background-color: aliceblue;
      background-image: url("../images/background.jpg");
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
      display: flex;
      img {
        margin: auto;
        opacity: 0;
        @media screen and (max-width: 500px) {
          width: 320px;
        }
      }
    }

    .story {
      height: auto;
      width: 36%;
      float: right;
      background-color: #fff;
      box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
      margin-top: -120px;
      margin-right: 6%;
      box-sizing: border-box;
      padding: 60px;
      color: #93bad5;
      @media screen and (max-width: 500px) {
        width: 50%;
        padding: 20px;
        font-size: 0.8rem;
      }
    }

    .members {
      position: relative;
      width: 100%;
      margin-top: 200px;
      background-color: honeydew;
      padding-bottom: 20px;
      text-align: center;
      @media screen and (max-width: 500px) {
        padding: 10px;
        height: auto;
      }

      .rslides_tabs {
        width: 100%;
        list-style: none;
        text-align: center;
        display: block;

        li {
          display: inline-block;
          margin-left: 2rem;
          color: #fff;
          border: 2px #333333 solid;
          padding: 2px 12px;
          border-radius: 4px;
          font-weight: 700;
          @media screen and (max-width: 500px) {
            margin-top: 2rem;
          }
          a {
            font-size: 1.2rem;
            color: #3c3c3c;
          }
        }
      }

      .rslides_here {
        width: 24px;
      }

      .members-level {
        padding: 95px 10px 0;
        height: 550px;
        width: auto;
        margin: 0 auto;
        display: block;
        @media screen and (max-width: 500px) {
          padding: 10px;
          height: auto;
        }
        .members-level-class {
          background-color: honeydew;
          list-style: none;
          display: flex;
          width: 100%;
          justify-content: center;
          margin: 0 auto;
          .members-level_item {
            display: inline-block;
            width: 108px;
            height: 500px;
            background-color: cadetblue;
            border: 1px solid #edc584;
            border-top: none;
            border-bottom: none;
            transition: width 0.3s;
            transition-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
            @media screen and (max-width: 500px) {
              width: 108px;
              height: 360px;
            }
            &:hover {
              width: 180px;
              opacity: 1;
              @media screen and (max-width: 500px) {
                width: 120px;
              }
            }
            .member-level_class_data {
              width: 100%;
              background-color: honeydew;
              height: 65%;
              h3 {
                width: 1.2rem;
                position: absolute;
                padding-top: 20px;
                padding-left: 72px;
                font-weight: 400;
                @media screen and (max-width: 500px) {
                  padding-left: 12px;
                }
              }

            }
            .member-level_class_photo {
              width: 100%;
              background-color: black;
              height: 35%;
              position: relative;
              .mask {
                background: -webkit-linear-gradient(top, honeydew 5%, rgba(255, 255, 255, 0) 35%);
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
              }
              .avatar {
                width: 100%;
                height: 100%;
                background-size: cover;
                background: -webkit-linear-gradient(top, #fff 5%, rgba(255, 255, 255, 0) 35%);
              }
              .mkf {
                background: url("../album/mkf.jpg") center;
              }
              .wyy {
                background: url("../album/wyy.jpg") center;
              }
              .ljx {
                background: url("../album/ljx.jpg") center;
              }
              .ljl {
                background: url("../album/ljl.jpg") center;
              }
              .myj {
                background: url("../album/myj.jpg") center;
              }
              .ymh {
                background: url("../album/ymh.jpg") center;
              }
              .zq {
                background: url("../album/zq.jpg") center;
              }
              .cmj {
                background: url("../album/cmj.jpg") center;
              }
              .zxl {
                background: url("../album/zxl.png") center;
              }
              .zxy {
                background: url("../album/zxy.jpg") center;
              }
              .zls {
                background: url("../album/zls.jpg") center;
              }
              .tss {
                background: url("../album/tss.jpg") center;
              }
              .sy {
                background: url("../album/sy.jpg") center;
              }
              .gyj {
                background: url("../album/gyj.png") center;
              }
              .gq {
                background: url("../album/gq.jpg") center;
              }
              .tqp {
                background: url("../album/tqp.jpg") center;
              }
              .ljc {
                background: url("../album/ljc.jpg") center;
              }
              .fgh {
                background: url("../album/fgh.png") center;
              }
              .czx {
                background: url("../album/czx.png") center;
              }
              .zty {
                background: url("../album/zty.png") center;
              }
              .tlx {
                background: url("../album/tlx.png") center;
              }
              .hmz {
                background: url("../album/hmz.png") center;
              }
              .yukun {
                background: url("../album/yukun.jpg") center;
              }

            }
          }
        }
      }
    }

    .album {
      width: 100%;
      height: 480px;
      background-color: chocolate;
      margin-top: 48px;

      .album-photo {
        width: 50%;
        height: 100%;
        float: left;
        background: url("../album/IMG1.jpg") no-repeat center;
        background-size: cover;
        @media screen and (max-width: 500px) {
          width: 100%;
        }
      }

      .album-photo_list {
        width: 50%;
        height: 100%;
        float: right;
        @media screen and (max-width: 500px) {
          width: 100%;
        }
        .album-photo_list_photo {
          width: 100%;
          height: 50%;
          @media screen and (max-width: 500px) {
            width: 50%;
          }

          &:nth-child(1) {
            background: url("../album/IMG2.jpg") no-repeat center;
            background-size: cover;
            float: left;
          }
          &:nth-child(2) {
            background: url("../album/IMG3.jpg") no-repeat center;
            background-size: cover;
            float: right;
          }
        }
      }
      .mask {
        position: relative;
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(220, 182, 122, 0.37);
          transition: all .8s ease;
        }
        &:hover:before {
          background-color: transparent;
        }
      }
    }

    .project {
      margin-top: 2rem;
      width: 1080px;
      background-color: #f8fbfb;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      @media screen and (max-width: 500px) {
        width: 100%;
      }
      .project-item {
        width: 250px;
        margin: 0 132px 56px 0;
        line-height: 24px;
        letter-spacing: 2px;
        color: #fff;
        position: relative;
        @media screen and (max-width: 500px) {
          margin: 2rem auto;
        }
        .tx{
          background-image: url("../album/tx.png");
        }
        .zfj{
          background-image: url("../album/zfj.png");
        }
        .yd{
          background-image: url("../album/yd.png");
        }
        .cwork{
          background-image: url("../album/cwork.png");
        }
        a {
          display: block;
          border: 1px #ebeaea solid;
          margin: 0 0 18px 0;
          height: 240px;
          width: 240px;
          background: center no-repeat;
          background-size: cover;
        }
        .title, .tag {
          color: #575757;
          font-weight: 300;
          margin: 0 0 0 5px;
          font-size: 100%;
        }
        .date {
          width: 120px;
          position: absolute;
          top: 47px;
          right: -150px;
          transform: rotate(90deg);
          transform-origin: left center;
          color: #8cb3b2;
          letter-spacing: 4px;
        }
      }
    }

    .todo {
      margin: 24px 0;
      width: 100%;
      height: 360px;
      display: flex;
      background-color: #333;
      ul {
        list-style: none;
        width: 100%;
        padding: 2%;
        li {
          margin: 2rem auto;
          width: 90%;
          border: 2px solid #fff;
          text-align: center;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          h2 {
            color: #fff;
          }
          a {
            color: #fff;
          }
        }
      }
    }

    .join {
      width: 100%;
      height: 360px;
      background-color: cornflowerblue;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      @media screen and (max-width: 500px) {
        display: block;
        padding: 1rem;
        height: auto;
      }
      h2 {
        margin-bottom: 2rem;
        @media screen and (max-width: 500px) {
          font-size: 1.2rem;
        }
      }
      .require {
        color: #2a2927;
        display: inline-block;
        @media screen and (max-width: 500px) {
          display: block;
          width: 100%;
        }
        ul {
          list-style: none;
          li {
            margin: 1rem 0;
          }
        }
      }
      .welfare {
        display: inline-block;
        color: #fff;
        @media screen and (max-width: 500px) {
          display: block;
          width: 100%;
        }
        ul {
          list-style: none;
          li {
            margin: 1rem 0;
          }
          margin-bottom: 2rem;
        }
        span {
          cursor: pointer;
          margin-top: 20px;
          padding: 10px 20px;
          border: 2px solid #fff;
        }
      }
    }
  }

  .honorBox {
    top: 0;
    z-index: 9999;
    background-color: #f7f6f4;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 1500ms cubic-bezier(0.69, 0.005, 0, 1.005) 0ms;
    transition: all 1500ms cubic-bezier(0.69, 0.005, 0, 1.005) 0ms;

    .close {
      height: 40px;
      width: 40px;
      position: fixed;
      right: 65px;
      top: 65px;
      cursor: pointer;
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      @media screen and (max-width: 500px) {
        right: 10px;
        top: 10px;
      }
      &:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      div {
        position: absolute;
        width: 40px;
        height: 3px;
        border-radius: 2px;
        background-color: #353535;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transition: all 350ms cubic-bezier(0.690, 0.005, 0.000, 1.005);
        transition: all 350ms cubic-bezier(0.690, 0.005, 0.000, 1.005);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
    .main {
      margin-top: 10%;
      position: relative;
      text-align: center;
    }
    .mainB {
      position: absolute;
      top: 2rem;
      left: 90%;
      vertical-align: middle;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      img {
        width: 160px;
        @media screen and (max-width: 500px) {
          width: 72px;
        }
      }
    }
    .title {
      position: relative;
      margin: 0 auto;
      padding: 0.8rem;
      border: 5px solid #353535;
      width: 15rem;
      text-align: center;

      h1 {
        color: #353535;
        font-size: 3rem;
        font-weight: 700;
        @media screen and (max-width: 500px) {
          font-size: 1.4rem;
          display: inline-block;
        }
      }
    }
    .container {
      width: 100%;
      margin: 80px auto;

      .timeHonor {
        width: 100%;
        position: relative;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        margin-top: 3rem;
        @media screen and (max-width: 500px) {
          padding: 0.6rem;
        }
        h1 {
          display: inline-block;
          font-weight: 900;
          color: #353535;
          float: left;
          vertical-align: top;
          @media screen and (max-width: 500px) {
            font-size: 1.2rem;
          }
        }
        ul {
          width: 100%;
          list-style: none;
          text-align: left;
          margin-left: 1rem;
        }
        li {
          color: #3c3c3c;
          line-height: 2rem;
          word-break: break-all;
          @media screen and (max-width: 500px) {
            font-size: 0.8rem;
          }
        }
      }
    }

    .barOne {
      -webkit-transition-delay: 1.5s !important;
      transition-delay: 1.5s !important;
      -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
      transform: translate(-50%, -50%) rotate(45deg) !important;
    }

    .barTwo {
      -webkit-transition-delay: 1.5s !important;
      transition-delay: 1.5s !important;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg) !important;
      transform: translate(-50%, -50%) rotate(-45deg) !important;
    }

  }
  .showBox {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    overflow-y: scroll;
  }
}

footer {
  width: 100%;
  height: 24px;
  overflow: hidden;
  ul {
    width: 100%;
    list-style: none;
    cursor: pointer;
    li {
      width: 20%;
      float: left;
      border-top: 24px solid;
      transition: border-width 250ms ease 0ms;
      text-align: center;
      a {
        line-height: 24px;
        transform: translateY(10px);
        color: #535353;
        font-weight: 700;
      }

      &:hover {
        border-top-width: 0;
        a {
          transform: translateY(0px);
        }
      }
      &:nth-child(1) {
        border-top-color: aqua;
      }
      &:nth-child(2) {
        border-top-color: #93bad5;
      }
      &:nth-child(3) {
        border-top-color: greenyellow;
      }
      &:nth-child(4) {
        border-top-color: gold;
      }
      &:nth-child(5) {
        border-top-color: hotpink;
      }
    }
  }
}
