html, body, h1, h2, h3, header, p, img, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*CSS Reset*/

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
}


aside{
  width: 600px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
  z-index: 99;
  background-color: #3e3e3e;
  nav{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    ul{
      li{
        display: block;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity .5s ease,transform 0s ease .5s;
        a{
          transition: color .24s;
          color: #fff;
          &:hover{
            color: #5bd9b3
          }
        }
      }
      .is-active{
        a{
          color: #5bd9b3;
        }
      }
    }
  }
}
aside.is-open{
  ul{
    li{
      transform: translateY(0);
      opacity: 1;
      transition: transform .5s ease;
      &:nth-child(1){
        transition-delay: .04s
      }
      &:nth-child(2){
        transition-delay: .08s
      }
      &:nth-child(3){
        transition-delay: .12s
      }
      &:nth-child(4){
        transition-delay: .16s
      }
      &:nth-child(5){
        transition-delay: .2s
      }
      &:nth-child(6){
        transition-delay: .24s
      }
      &:nth-child(7){
        transition-delay: .28s
      }
    }
  }
}

#wrapper{
  position: relative;
  right: 0;
  background-color: #fff;
  transition: transform .4s ease .16s;
  z-index: 199;
  header{
    height: 64px;
    position: relative;
    h1{
      margin-left: 16px;
    }
  }
  #main{
    display: block;
    .intro{
      section{
        position: relative;
        figure{
          background-image: url("../images/background.webp");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .content{
          padding: 0 120px;
          margin: 0 auto;
          color: #fff;
          z-index: 100;
          position: relative;
          max-width: 1440px;
          h2{
            font-size: 4.8rem;
          }
        }
      }
    }
  }


}
#wrapper.is-open{
  transform: translateX(-75%);
}

.container{
  padding-right: 30px;
  padding-left: 30px;
  section{
    position: relative;
  }
}

