.page4 {
    width: 100%;
    padding: 2rem 0;
    background-color: #dde3eb;
    overflow: hidden;
    text-align: center;
}

.page4 ul.cards {
    list-style: none;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    margin: 2rem auto;
    text-align: center;
    height: 270px;
}

.page4 ul.cards h1{
    font-weight: 300;
}
.page4 ul.cards li.card {
    background: #FFF;
    overflow: hidden;
    height: 270px;
    width: 270px;
    position: absolute;
    left: 50%;
    margin-left: -135px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 1px 2px 2px 0 #aaa;
    -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

.page4 li.card img {
    max-width: 100%;
    height: auto;
}

.page4 ul.cards li:nth-child(1) {
    z-index: 10;
    -webkit-transform: rotateZ(-4deg);
    transform: rotateZ(-4deg);
}

.page4 ul.cards li:nth-child(2) {
    z-index: 9;
    -webkit-transform: rotateZ(-12deg);
    transform: rotateZ(-12deg);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.2s;
}

.page4 ul.cards li:nth-child(3) {
    z-index: 8;
    -webkit-transform: rotateZ(8deg);
    transform: rotateZ(8deg);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.4s;
}

.page4 ul.cards.transition li.card {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.page4 ul.cards.transition li:nth-child(1) {
    margin-left: 270px;
}

.page4 ul.cards.transition li:nth-child(2) {
    left: 270px;
}