.page4 {
    height: 72%;
    background-color: #dde3eb;
    overflow: hidden;
}

.page4 .content {
    width: 100%;
    position: relative;
}

.page4 .content-main {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

.page4 .content-main .title {
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: span-show .6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards .6s;
    animation: span-show .6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards .6s;
}

.page4 .content-main .title span {
    font-weight: 100;
    font-size: 2.4rem;
    color: #3c3c3c;
}

@-webkit-keyframes span-show {
    from {
        opacity: 0;
        margin-top: 30px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes span-show {
    from {
        opacity: 0;
        margin-top: 30px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.page4 .content-main .albums {
    opacity: 0;
    animation: show .4s ease-in forwards 1.2s;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.page4 .content-main .albums ul {
    list-style: none;
}

.page4 .content-main .albums img {
    width: 320px;
}

.page4 .stack {
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    width: 320px;
    height: 320px;
    padding: 0;
    list-style: none;
    pointer-events: none;
}

.page4 .stack__item {
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
}

.page4 .stack__item img {
    width: 100%;
    display: block;
    pointer-events: none;
}

.page4 .stack__item--reject,
.page4 .stack__item--accept {
    pointer-events: none;
}

.page4 .stack--iman .stack__item--reject {
    -webkit-animation: imanReject 0.5s forwards;
    animation: imanReject 0.5s forwards;
}

@-webkit-keyframes imanReject {
    to {
        -webkit-transform: translate3d(-25vw, 0, 0) translate3d(-60%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25vw, 0, 0) translate3d(-60%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
}

@keyframes imanReject {
    to {
        -webkit-transform: translate3d(-25vw, 0, 0) translate3d(-60%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25vw, 0, 0) translate3d(-60%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
}

.page4 .stack--iman .stack__item--accept {
    -webkit-animation: imanAccept 0.5s forwards;
    animation: imanAccept 0.5s forwards;
}

@-webkit-keyframes imanAccept {
    to {
        -webkit-transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }
}

@keyframes imanAccept {
    to {
        -webkit-transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0) rotate3d(0, 0, 1, 5deg);
    }
}

.page4 .control {
    position: relative;
    width: 100%;
    text-align: center;
    margin: -3em auto;
}

.page4 .control button {
    border-radius: 50%;
    background: #7b7b7b;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
    font-weight: 900;
    font-size: 1.6rem;
}

.page4 .control button:nth-child(1) {
    float: left;
}

.page4 .control button:nth-child(2) {
    float: right;
}

.page4 .control button.left {
    color: #e66868;
}

.page4 .control button.right {
    color: #81d47d;
}