
body, figure, h1, h2, img {
    margin: 0;
    padding: 0;
}

/*Css Reset*/

html, body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f8f8f8;
}

.columns {
    width: 100%;
    column-width: 240px;
    column-gap: 1px;
    margin: 0 auto;
}

header figure {
    max-height: 180px;
    background-color: #fefefe;
    border: 1px solid #fcfcfc;
    display: inline-block;
    position: relative;
    float: left;
    overflow: hidden;
}

header figure:hover figcaption h2 {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

header figure:hover img {
    opacity: 1;
}

header figure > img {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.7;
    -webkit-transition: opacity 350ms;
    -moz-transition: opacity 350ms;
    transition: opacity 350ms;
}

header figure > figcaption h2 {
    color: #ffffff;
    font-size: 2.4rem;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 2rem;
    top: 1rem;
    position: absolute;
    -webkit-transition: transform 350ms;
    -moz-transition: transform 350ms;
    transition: transform 350ms;
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    font-weight: 200;
}

header figure > figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(67, 67, 67, 0.21);
}

.content {
    width: 100%;
    /*margin-top: 1rem;*/
    position: relative;
}

.content-main {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

.content-main .title {
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: span-show .6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards .6s;
    animation: span-show .6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards .6s;
}

.content-main .title span {
    font-weight: 100;
    font-size: 2.4rem;
    color: #3c3c3c;
}

@-webkit-keyframes span-show {
    from {
        opacity: 0;
        margin-top: 30px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes span-show {
    from {
        opacity: 0;
        margin-top: 30px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

.content-main .albums ul {
    display: inline-block;
    list-style: none;
}

.content-main .albums ul:nth-child(1) {
    float: left;
}

.content-main .albums ul:nth-child(2) {
    float: right;
}

.content-main .albums li {
    width: 360px;
}

.content-main .albums li img {
    width: 100%;
}
