html,body,h1,h2,ul{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: #7b7b7b;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}

.honorBox{
    z-index: 99;
    background-color: #f7f6f4;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 1500ms cubic-bezier(0.69, 0.005, 0, 1.005) 0ms;
    transition: all 1500ms cubic-bezier(0.69, 0.005, 0, 1.005) 0ms;
}

.showBox{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    overflow-y: scroll;
}

.honorB{
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    right: 2rem;
    cursor: pointer;
}

.honorB svg {
    position: absolute;
    top:50%;
    left: 50%;
    height: 15px;
    fill: #FFF;
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
}

.honorBox .close{
    height: 40px;
    width: 40px;
    position: fixed;
    right: 65px;
    top: 65px;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.honorBox .close:hover{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.honorBox .close div {
    position: absolute;
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background-color: #353535;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transition: all 350ms cubic-bezier(0.690, 0.005, 0.000, 1.005);
    transition: all 350ms cubic-bezier(0.690, 0.005, 0.000, 1.005);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.barOne{
    -webkit-transition-delay: 1.5s!important;
    transition-delay: 1.5s!important;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
    transform: translate(-50%, -50%) rotate(45deg) !important;
}

.barTwo{
    -webkit-transition-delay: 1.5s!important;
    transition-delay: 1.5s!important;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) !important;
    transform: translate(-50%, -50%) rotate(-45deg) !important;
}



.honorBox .main{
    margin-top: 10%;
    position: relative;
    text-align: center;
}

.honorBox .mainB{
    position: absolute;
    top: 0;
    left: 90%;
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.honorBox .mainB img{
    width: 160px;
}
.honorBox .title{
    position: relative;
    margin: 0 auto;
    padding: 0.8rem;
    border: 5px solid #353535;
    width: 15rem;
    text-align: center;
}
.honorBox .title h1{
    color: #353535;
    font-size: 3rem;
    font-weight: 700;
}

.honorBox .container{
    width: 720px;
    margin: 80px auto 0;
}

.honorBox .container .timeHonor{
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 3rem;
}

.honorBox .container .timeHonor h1{
    display: inline-block;
    font-weight: 900;
    color: #353535;
    float: left;
    vertical-align: top;
}

.honorBox .container .timeHonor ul{
    list-style: none;
    text-align: left;
    margin-left: 3rem;
}

.honorBox .container .timeHonor li{
    color: #3c3c3c;
    line-height: 2rem;
}