html, body, h1, h2, ul, a, p{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    background-color: #7b7b7b;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7e7bd3), to(#bc7bd3));
    background-image: -webkit-linear-gradient(314deg, #7e7bd3 0%, #bc7bd3 100%);
    background-image: linear-gradient(136deg, #7e7bd3 0%, #bc7bd3 100%);
}

.nav {
    height: 100%;
    display: inline-block;
    text-align: center;
}
.nav .header{
    height: 100%;
}

.nav .header::before{
    content: '';
    height: 100%;
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}

.nav .header .class{
    color: white;
    font-size: 120px;
    display: inline-block;
    margin-right: 10px;
}

.nav .header .numbers{
    padding: 40px 0 0 10px;
    border-left: 4px solid rgba(255,255,255,0.4);
    display: inline-block;
}

.nav .header .numbers span{
    opacity: 0.5;
    color: white;
    font-size: 30px;
    left: 10px;
}

.photo-board{
    margin-left: 4rem;
    position: absolute;
    height: 100%;
    max-width: 880px;
    display: inline-block;
    width: 100%;
}

.photo-board .content{
    margin-top: 12%;
    position: relative;
}

.photo-board .content .classes {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    -webkit-transition: all .64s ease-in-out;
    transition: all .64s ease-in-out;
    position: absolute;
}

.photo-board .content .focus {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.photo-board .slider {
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.photo-board .slider .slider-board {
    width: 100%;
    height: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.71);
    margin-top: 0.6rem;
}

.photo-board .slider .slider-suga {
    height: 1.2rem;
    width: 4rem;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 4px;
    border: 1px solid #fff;
    position: absolute;
    bottom: -0.6rem;
    cursor: move;
    left: 5%;
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.photo-board .content .thumb{
    cursor: pointer;
    width: 180px;
    height: 120px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 2rem;
}

.photo-board .content .thumb figure{
    border-radius: 4px;
    padding-top: 5%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.photo-board .content .thumb p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
    transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
}

.photo-board .content .thumb:hover p{
    font-size: 1.2rem;
    color: #3c3c3c;
}
.photo-board .content .thumb:hover figure{
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    -webkit-transform: translate(-50%,-50%) scale(1.3);
    transform: translate(-50%,-50%) scale(1.3);
}

.photo-board .content .thumb:hover img{
    width: 60px;
    height: 60px;
}

.photo-board .content .thumb img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
    transition: all .5s cubic-bezier(0.690, 0.005, 0.000, 1.005) .25s;
}

/*.nav .header{*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*width: 16%;*/
    /*margin-right: 2rem;*/
/*}*/
/*.nav .header div{*/
    /*height: 100%;*/
    /*width: 2rem;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

/*.nav .header p{*/
    /*display: inline-block;*/
    /*font-size: 3.6rem;*/
    /*font-weight: 700;*/
/*}*/

/*.nav .header p span{*/
    /*font-weight: 100;*/
    /*font-size: 5.4rem;*/
/*}*/

/*.nav .photos{*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*width: 72%;*/
/*}*/

/*.nav .photos .photo-board{*/
    /*padding: 1rem;*/
/*}*/

/*.nav .photos .photo-board thumb{*/
    /*cursor: pointer;*/
    /*width: 174px;*/
    /*height: 114px;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*position: relative;*/
    /*opacity: 0;*/
    /*-webkit-transform: translateY(20%);*/
    /*-moz-transform: translateY(20%);*/
    /*-o-transform: translateY(20%);*/
    /*transform: translateY(20%);*/
    /*-webkit-transition: all .35s ease;*/
    /*-moz-transition: all .35s ease;*/
    /*-o-transition: all .35s ease;*/
    /*transition: all .35s ease;*/
/*}*/

/*.nav .photos .photo-board p{*/
    /*opacity: 0;*/
    /*color: #4b4b4b;*/
    /*-webkit-transition: all .45s ease 0.3s;*/
    /*transition: all .45s ease 0.3s;*/
    /*-webkit-transform: translate3d(0, 30px, 0);*/
    /*-moz-transform: translate3d(0, 30px, 0);*/
    /*transform: translate3d(0, 30px, 0);*/
/*}*/
/*.nav .photos .photo-board img{*/
    /*width: 120px;*/
    /*height: 120px;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    /*-webkit-transition: all .45s ease;*/
    /*transition: all .45s ease;*/
/*}*/

/*.nav .photos .photo-board a:hover img{*/
    /*width: 120px;*/
    /*height: 120px;*/
/*}*/

/*.nav .photos .photo-board a:hover p{*/
    /*opacity: 1;*/
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-moz-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
/*}*/

/*.nav .photos .photo-board a:hover{*/
    /*background-color: #dcdcdc;*/
    /*box-shadow: 0 8px 20px #fff;*/
/*}*/

/*.right {*/
    /*position: relative;*/
    /*display: inline;*/
    /*float: right;*/
    /*width: 800px;*/
    /*height: 300px;*/
    /*top: 80px;*/
    /*left: 220px;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
/*}*/


/*img {*/
    /*margin: 15px;*/
    /*width: 160px;*/
    /*height: 160px;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
/*}*/

/*.huadong {*/
    /*width: 400px;*/
    /*height: 20px;*/
    /*bottom: 80px;*/
    /*left: 300px;*/
/*}*/

/*.xian {*/
    /*width: 400px;*/
    /*height: 0px;*/
    /*border: 2px solid #fff;*/
    /*bottom: 80px;*/
    /*left: 300px;*/
/*}*/

/*.kuai {*/
    /*width: 100px;*/
    /*height: 15px;*/
    /*border: 5px solid #000;*/
/*}*/